body{
margin:0;
font-family:'arial';
background:#cabca7;
color:#3a2d24;
font-size: large;
}

/* HERO */

.hero{
height:40vh;
background-image:url("https://imgs.search.brave.com/pdfTTa_zT6ypdPFqzK2u18sHZi_SegJlvEkg6Ig94wM/rs:fit:860:0:0:0/g:ce/aHR0cHM6Ly9naXRp/aG8uY29tL2NhY2hl/cy9wX21lZGl1bV9s/YXJnZS8vdXBsb2Fk/cy8zMzgwNTQvaW1h/Z2VzL2ltZ18xNS1o/aW5oLW5lbi1wb3dl/cnBvaW50LXRyb25n/LWRvbmcuanBn");
background-size:cover;
background-position:center;
position:relative;
display:flex;
align-items:center;
justify-content:center;
text-align:center;
color:rgb(255, 255, 255);

}

.hero-overlay{
position:absolute;
top:0;
left:0;
width:100%;
height:100%;
background:rgba(40,30,20,0.6);
}

.hero-content{
position:relative;
z-index:2;
}

.hero h1{
font-family:'Playfair Display', serif;
font-size:67px;
letter-spacing:3px;
}

.hero p{
font-size:24.5px;
font-family: 'Times New Roman', Times, serif;
margin-bottom: 10px;
}

/* PRODUCT */

.product-container{
width:85%;
max-width:1200px;
margin:auto;
padding:80px 0;
}

.product{
display:flex;
align-items:center;
gap:60px;
margin-bottom:100px;
opacity:0;
transform:translateY(60px);
transition:all 0.8s ease;
}

.product.show{
opacity:1;
transform:translateY(0);
}

.product.reverse{
flex-direction:row-reverse;
}

.image-frame{
padding:15px;
background:#e8dfd3;
border:6px solid #c8b79f;
box-shadow:0 10px 25px rgba(0,0,0,0.2);
}

.product img{
width:420px;
display:block;
}

.product-text{
max-width:420px;
}

.product-text h2{
font-family:'Times New Roman', Times, serif;                                                                                                                                 
font-size:23px;
margin-bottom:15px;
}

.product-text p{
line-height:1.7;
font-family: 'Times New Roman', Times, serif;
font-size: larger;
}

/* FOOTER */

footer{
text-align:center;
padding:30px;
background:#e6dccf;
font-size:14px;
font-family: 'Times New Roman';
}

/* RESPONSIVE */

@media(max-width:900px){

.product{
flex-direction:column;
text-align:center;
}

.product.reverse{
flex-direction:column;
}

.product img{
width:100%;
max-width:450px;
}

}